:root{
    --blue: #46B1DE;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: #212121;
}

a:active,
a:focus {
    outline: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 18px;
    font-size: 16px;
    color: #1B1D1F;
}

header {
    position:fixed;
    width:100%;
    transition: background .3s ease;
    padding-top: 60px;
    z-index: 100;
    min-height: 60px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
}

.menu__wrapper{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    max-width: 690px;
    width: 100%;
}

.menu__list {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 80px;
}

.menu__logo{
    height: 79px;
    width: 335px;
    font-size: 22px;
    color: var(--blue);
    display: flex;
}

.menu__logo-img{
    width: 71px;
    height: 79px;
}

.menu__logo-text{
    padding: 2px 0 0 7px;
    font-family: "Sofia Sans";
    font-weight: 400;
    font-size: 38px;
    line-height: 38px;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu__logo-text span{
    display: block;
    font-size: 27px;
    line-height: 27px;
    margin-top: 3px;
}

.menu__phone{
    position: relative;
    margin-left: 110px;
}

.menu__phone:before{
    position: absolute;
    content:'';
    background-image: url("../img/phone.svg");
    width: 18px;
    height: 18px;
    left: -28px;
    top:0px;
}

.menu__lang{
    font-size: 0;
    margin-top: -3px;
    margin-left: 20px;
}

.menu__lang-item{
    font-weight: 400;
    line-height: 23px;
    font-size: 20px;
    color: #000000;
    padding: 0 11px;
    margin: 0;
    border-right: 1px solid #1B1D1F;
}

.menu__lang-item:last-child{
    padding-right: 0px;
    border-right: none;
}

.menu__lang-item--ua{
    font-weight: 700;
}


.content {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 663px;
    position: relative;
}

.content::before {
    position: absolute;
    content:'';
    background-image: url("../img/lady.png");
    width: 644px;
    height: 631px;
    bottom: 0;
    right: 7%;
}

.content__box{
    padding-top: 200px;
    max-width: 520px;
    width: 100%;
    position: relative;
    z-index: +1;
}

.content__title{
    font-size: 40px;
    line-height: 130%;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.content__title-blue{
    color: var(--blue);
    display: inline-block;
}

.content__descr{
    font-weight: 400;
    line-height: 140%;
    font-size: 16px;
    max-width: 460px;
    margin-top: 30px;
}

.content__buttons{
    margin-top: 48px;
}

.content__button{
    width: 180px;
    height: 60px;
    text-align: center;
    font-weight: 600;
    line-height: 140%;
    font-size: 19px;
    padding: 16px 15px;
    border-radius: 8px;
}

.content__button--call{
    color: #fff;
    transition: all 0.7s;
    background: linear-gradient(97.59deg, var(--blue) 9.8%, #0591CC 95.1%);
    box-shadow: 0px 2px 10px var(--blue);
}

.content__button--call:hover{
    color: var(--blue);
    background: #fff;
    box-shadow: 0px 2px 10px #DDE0DC;
}

.content__button--services{
    margin-left: 120px;
    color: var(--blue);
    background-color: #fff;
    box-shadow: 0px 2px 10px #DDE0DC;
    transition: all 0.7s;
}

.content__button--services:hover{
    color:  #fff;
    background-color: var(--blue);
    box-shadow: 0px 2px 10px var(--blue);
}

.content__advantages{
    display: grid;
    grid-template-columns: 270px 270px 270px;
    gap: 70px;
    justify-content: center;
    margin-top: 40px;
}

.advantages__item{
    padding: 25px 35px 20px 15px;
    display: flex;
    align-items: center;
    background-color: #fff;
    z-index: 1;
    min-height: 120px;
    max-width: 280px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px solid #D8E1E1;
}

.advantages__item-number{
    color: var(--blue);
    margin-right: 20px;
    font-weight: 400;
    font-size: 65px;
    line-height: 76px;
}

.advantages__item-text{
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
}

.reasons{
    margin-top: 148px;
}

.reasons__title{
    text-align: center;
    font-size: 34px;
    line-height: 130%;
    font-weight: 400;
}

.reasons__title span{
    color: var(--blue);
}

.reasons__descr{
    margin: 0 auto;
    max-width: 570px;
    text-align: center;
    margin-top: 5px;
    font-weight: 400;
    line-height: 140%;
    font-size: 16px;
}

.reasons__items{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 40px;
    grid-auto-flow: column;
    background-color: #a2c6d4;
    padding: 16px 20px;
    max-width: 1020px;
    width: 100%;
    min-height: 395px;    
    margin: 50px auto 85px;
    border-radius: 12px;
}

.reasons__item{    
    background-color: #fff;
    max-width: 500px;
    border-radius: 8px;
    padding: 10px 20px 45px 20px;
}

.reasons__item-up{
    display: flex;
    align-items: center;
    color: var(--blue); 
    margin-bottom: 15px;   
}

.reasons__item-number{
    font-weight: 400;
    line-height: 47px;
    font-size: 40px;
    margin-right: 15px;
}

.reasons__item-title{
    font-weight: 700;
    line-height: 21px;
    font-size: 18px;
}

.reasons__item-text{
    font-weight: 400;
    line-height: 19px;
    font-size: 16px;
}

.appoinment{
    margin: 0 auto 90px;
    max-width: 845px;
    width: 100%;
    min-height: 265px;
    padding: 10px 9px 8px 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid #D9D9D9;
}

.appoinment__box{
    max-width: 820px;
    width: 100%;
    min-height: 247px;
    border: 1px solid #D9D9D9;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 30px 20px 45px;
    text-align: center;
}

.appoinment__title{
    font-size: 32px;
    line-height: 130%;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 7px;
}

.appoinment__descr{
    font-weight: 400;
    line-height: 140%;
    font-size: 16px;
    margin-bottom: 45px;
}

.form__field{
    background: rgba(217, 217, 217, 0.71);
    border-radius: 8px;
    border: none;
    padding: 17px 10px 15px 50px;
    margin-right: 70px;
    outline: none;
    height: 57px;
}

.form__field::placeholder {
    font-weight: 600;
    font-size: 19px;
    line-height: 150%;
    color: rgba(27, 29, 31, 0.51);    
}

.form__field--name{
    position: relative;
}

.form__field--name::before{
    position: absolute;
    content: "";
    background-image: url("../img/user.svg");
    width: 22px;
    height: 24px;
    left: -28px;
    top:0px;
    z-index: +100;
}

.form__btn{
    background: var(--blue);
    border-radius: 8px;
    width: 180px;
    padding: 10px;
    height: 57px;
    font-weight: 600;
    line-height: 140%;
    font-size: 19px;
    border: none;
    color: #fff;
}

.form__btn:hover{
    cursor: pointer;
}


footer{
    background: linear-gradient(90deg, rgba(161,199,212,1) 0%, rgba(6,127,170,1) 100%);
    min-height: 330px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.footer__logo-title{
    font-family: "Muller", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #0e2b49;
    padding-top: 6px;
    text-transform: uppercase;
}

.footer__logo-title span{
    line-height: 18px;
    font-size: 18px;
    display: block;
    text-transform: none;
    margin-top: 3px;
}

.footer__logo-img{
    width: 43px;
    height: 48px;
    margin-right: 10px;
}

.footer__logo{
    display: flex;
}

.footer__info{
    display: flex;
    margin-top: 30px;
}

.contacts__social-flex{
    display: flex;
}

.footer__lang{
    margin-top: 20px;
    font-weight: 500;
}

.footer__lang-item:first-child{
    padding-right: 5px;
    border-right: 1px solid #212121;
    line-height: 15px;
    font-weight: 700;
}

.footer__nav-item{
    margin-bottom: 10px;
}

.footer__working-hours{
    margin-left: 100px;
    margin-top: 20px;
}

.working-hours__title{
    margin-bottom: 5px;
}

.contacts{
    color: #fff;
    font-size: 14px;
    max-width: 300px;
    width: 100%;
}


.contacts__title{
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 15px 5px;
}

.contacts__name{
    margin-top: 10px;
}

.contacts__adress{
    margin: 10px 0;
}

.contacts__social, .contacts__social-flex{
    margin-bottom: 10px;
}

.contacts__social-flex a{
    display: flex;
    align-items: center;
    color: #fff
}

.contacts__social-flex img{
    margin-right: 15px;
}

.contacts__social-item{
    margin-right: 15px;
    vertical-align: middle;
}

.contacts__copy{
    text-align: right;
    font-size: 12px;
    line-height: 12px;
}